<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scauaie.dao.FormMapper">
    <resultMap id="BaseResultMap" type="cn.scauaie.model.dao.FormDO">
        <constructor>
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="openid" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="avatar" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="gender" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="college" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="major" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="first_dep" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="second_dep" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="introduction" jdbcType="CHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
                id, openid, name, avatar, gender, college, major, phone, first_dep, second_dep, introduction,
                create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from form
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from form
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.scauaie.model.dao.FormDO">
        insert into form (id, openid, name,
                          avatar, gender, college,
                          major, phone, first_dep,
                          second_dep, introduction, create_time, update_time)
        values (#{id,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
                #{avatar,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, #{college,jdbcType=VARCHAR},
                #{major,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{firstDep,jdbcType=CHAR},
                #{secondDep,jdbcType=CHAR}, #{introduction,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertIfOpenidNotExist" parameterType="cn.scauaie.model.dao.FormDO" useGeneratedKeys="true"
            keyProperty="id">
        insert into form (openid, name, gender,
                          college, major, phone,
                          first_dep, second_dep, introduction)
        select #{openid,jdbcType=VARCHAR},
               #{name,jdbcType=VARCHAR},
               #{gender,jdbcType=CHAR},
               #{college,jdbcType=VARCHAR},
               #{major,jdbcType=VARCHAR},
               #{phone,jdbcType=VARCHAR},
               #{firstDep,jdbcType=CHAR},
               #{secondDep,jdbcType=CHAR},
               #{introduction,jdbcType=CHAR}
        from DUAL
        where not exists(select *
                         from form
                         where openid = #{openid, jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.scauaie.model.dao.FormDO">
        update form
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="college != null">
                college = #{college},
            </if>
            <if test="major != null">
                major = #{major},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="introduction != null">
                introduction = #{introduction}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.scauaie.model.dao.FormDO">
        update form
        set openid       = #{openid,jdbcType=VARCHAR},
            name         = #{name,jdbcType=VARCHAR},
            avatar       = #{avatar,jdbcType=VARCHAR},
            gender       = #{gender,jdbcType=CHAR},
            college      = #{college,jdbcType=VARCHAR},
            major        = #{major,jdbcType=VARCHAR},
            phone        = #{phone,jdbcType=VARCHAR},
            first_dep    = #{firstDep,jdbcType=CHAR},
            second_dep   = #{secondDep,jdbcType=CHAR},
            introduction = #{introduction,jdbcType=CHAR},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            update_time  = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByOpenid" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form
        where openid = #{openid, jdbcType=VARCHAR}
    </select>

    <select id="selectAvatarById" parameterType="integer" resultType="string">
        select avatar
        from form
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="listByFormQuery" parameterType="cn.scauaie.model.query.FormQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form
        <where>
            <if test="id != null">
                and id = #{id, jdbcType=INTEGER}
            </if>
            <if test="dep != null">
                and first_dep = #{dep, jdbcType=VARCHAR}
            </if>
            <if test="gender != null">
                and gender = #{gender, jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and name = #{name, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="listFirstDepNumbers" resultType="cn.scauaie.model.dao.DepNumberDO">
        select
        first_dep as dep, count(first_dep) as number
        from form
        group by first_dep
    </select>

    <select id="listSecondDepNumbers" resultType="cn.scauaie.model.dao.DepNumberDO">
        select
            second_dep as dep, count(second_dep) as number
        from form
        group by second_dep
    </select>

    <select id="listDepNumbersIfFirstDepSameAsSecondDep" resultType="cn.scauaie.model.dao.DepNumberDO">
        select
            first_dep as dep, count(first_dep) as number
        from form
        where first_dep = second_dep
        group by first_dep
    </select>

    <select id="getCountById" parameterType="int" resultType="int">
        select
        count(1)
        from form
        where id = #{id, jdbcType=INTEGER}
    </select>

</mapper>