<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scauaie.dao.ResultMapper" >
  <resultMap id="BaseResultMap" type="cn.scauaie.model.dao.ResultDO" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="result" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from result
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from result
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.scauaie.model.dao.ResultDO" >
    insert into result (id, fid, result)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scauaie.model.dao.ResultDO" useGeneratedKeys="true" keyProperty="id" >
    insert into result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="result != null" >
        result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scauaie.model.dao.ResultDO" >
    update result
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scauaie.model.dao.ResultDO" >
    update result
    set fid = #{fid,jdbcType=INTEGER},
      result = #{result,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listByFormId" parameterType="integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from result
    where fid = #{formId, jdbcType=INTEGER}
  </select>

  <select id="listResults" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from result
  </select>
</mapper>