<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scauaie.dao.WorkMapper" >
  <resultMap id="BaseResultMap" type="cn.scauaie.model.dao.WorkDO" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fid" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, url
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.scauaie.model.dao.WorkDO" >
    insert into work (id, fid, url)
    values (#{id,jdbcType=INTEGER}, #{fid,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scauaie.model.dao.WorkDO" useGeneratedKeys="true" keyProperty="id" >
    insert into work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fid != null" >
        fid,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fid != null" >
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scauaie.model.dao.WorkDO" >
    update work
    <set >
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scauaie.model.dao.WorkDO" >
    update work
    set fid = #{fid,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByFid" parameterType="integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from work
    where fid = #{fid, jdbcType=INTEGER}
  </select>

  <select id="getCount" parameterType="integer" resultType="int">
    select
    count(*)
    from work
    where id = #{id, jdbcType=INTEGER}
  </select>

  <select id="getCountByFormId" parameterType="integer" resultType="int">
    select
    count(*)
    from work
    where fid = #{fid, jdbcType=INTEGER}
  </select>

  <select id="getUrlByFormIdAndWorkId" parameterType="map" resultType="string">
    select
    url
    from work
    where id = #{id,  jdbcType=INTEGER}
    and fid = #{fid, jdbcType=INTEGER}
  </select>

  <delete id="deleteByWorkIdAndFormId" parameterType="map">
    delete from work
    where id = #{id,jdbcType=INTEGER}
    and fid = #{fid,jdbcType=INTEGER}
  </delete>

  <select id="getCountByWorkIdAndFormId" parameterType="map" resultType="int">
    select
    count(*)
    from work
    where id = #{id,jdbcType=INTEGER}
    and fid = #{fid,jdbcType=INTEGER}
  </select>

  <select id="getUrlByWorkIdAndFormId" parameterType="map" resultType="string">
    select
    url
    from work
    where id = #{id,jdbcType=INTEGER}
    and fid = #{fid,jdbcType=INTEGER}
  </select>
</mapper>